/* 自定义全局样式 */

/* 图标大小 */
.VPNavBar .logo {
  width: auto;
  height: 32px;
  border-radius: 8px;
}

/* 截图无片边框，使用该class增加边框 */
.img-border {
  border: 1px solid #eee;
}

/* 手机端图片 */
@media (min-width: 450px) {
  .mobile-img {
    width: 360px;
  }
}